<h3>All donations are anonymous</h3>
<% if flash[:alert]%>
<h3><%=flash[:alert]%></h3>
<% end %>
<%= form_tag('/process_donation') %>
Donation Amount: <%= number_field_tag :donation_amount, min: 1 %>
<%= submit_tag "Submit Donation", data: {confirm: "Are you sure? Donations are non-refundable"}%>
